:local {
  .container {
    width: 100px;
    height: 90px;
    border: 4px solid #5d4037;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;

    /* Состояние "Закрыто" */
    background: linear-gradient(to bottom, #8b4513, #cd853f);
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }

  /* Состояние "Открыто" (результат показан) */
  .disabled {
    background: #f0f0f0;
    cursor: default;
    transform: scale(1);

    &:hover {
      transform: scale(1);
    }
  }
}
