:local {
  .scoreboard {
    display: flex;
    flex-direction: column;
    gap: 25px; /* Отступ между карточками */
    padding: 10px;
  }

  .playerCard {
    width: 140px;
    /* Темно-синий фон (под цвет фона сайта) */
    // background: #1c2532;
    // border: 2px solid #364050;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 10px;

    color: #e0e1dd;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;

    /* Стиль активного игрока */
    &.active {
      /* Оранжевый градиент */
      background: #ff6200 0%;
      border: 2px solid white;
      /* Яркое свечение */
      box-shadow: 0 0 20px rgba(255, 140, 0, 0.6);
      z-index: 10;
      transform: scale(1.1);

      .avatar {
        border-color: #fff;
      }
    }

    /* Стиль выбывшего игрока */
    &.eliminated {
      filter: grayscale(100%);
      opacity: 0.5;
      transform: scale(0.9);
      border-color: #555;
      box-shadow: none;

      .name {
        text-decoration: line-through;
      }
    }
  }

  .name {
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.2;
    min-height: 2.4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    border: 3px solid #415a77;
    object-fit: cover;
    margin-bottom: 10px;
    background-clip: padding-box;
    transition: border-color 0.3s;
  }

  .scoreWrapper {
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 15px;
    border-radius: 20px;
  }

  .score {
    font-size: 1.2rem;
    font-weight: 800;
  }
}
