:local {
  .centerLayer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 10px;
    overflow: hidden;

    @media (max-width: 900px) {
      order: 3;
      justify-content: flex-start;
    }
  }

  .wordSection {
    margin-bottom: 4vh;
    margin-top: 20vh;
    transform: scale(1.1);
    position: relative;
    z-index: 2;

    @media (max-height: 700px) {
      transform: scale(0.9);
      margin-bottom: 20px;
    }
  }

  .bottomSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .questionBox {
    font-size: 1.4rem;
    text-align: center;
    color: #e0e1dd;

    /* СТИЛЬ ВОПРОСА ПОД ПРОТОТИП */
    background: transparent; /* Темный */
    border-bottom: 2px solid white;

    padding: 30px 50px;
    margin-bottom: 10px;
    width: 100%;
    line-height: 1.3;
  }
}
